$color-one: rgba(37, 113, 136, 0.850);
$color-two: rgba(240, 240, 240, 0.850);
$color-three: rgb(255, 201, 100, 0.850);
$color-four: rgb(252, 94, 73);
$color-one-opaque: rgba(37, 113, 136);
$color-two-opaque: rgba(240, 240, 240);
$color-three-opaque: rgb(255, 201, 100);
$color-four-opaque: rgb(252, 94, 73, 0.850);
$font-one: 'Indie Flower';
$font-two: 'Roboto';
$font-three: 'Lato';